# Git
.git/
.gitignore

# Python cache & virtual environment
__pycache__/
*.pyc
venv/
.env/

# Docker
Dockerfile
.dockerignore

# Outputs & Test files
outputs/
*.png
*.jpg

# Local caches (we want the container to build its own)
models-cache/
.cache/